@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3 {
    font-family: "SuperTitle";
  }

  body.dark {
    background-color: #000;
    transition: background-color 0.2s;
    transition-duration: 0.2s;
  }

  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/nunito/NunitoSans_7pt-Regular.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "SuperTitle";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/fonts/abeezee/ABeeZee-Regular.ttf) format("truetype");
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
    border-radius: 4px;
    opacity: 0.1;
  }
  *::-webkit-scrollbar-corner {
    border-radius: 20px;
  }
  *::-webkit-scrollbar {
    padding: 20px 0px;
    background: rgb(212, 212, 212);
    width: 6px;
  }
  *::-webkit-scrollbar:hover {
    background-color: rgb(169, 172, 175);
  }

  body.dark {
    background-color: #000;
    transition: background-color 0.2s;
    transition-duration: 0.2s;
  }

  body.dark *::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92);
    border-radius: 4px;
    opacity: 0.1;
  }
  body.dark *::-webkit-scrollbar-corner {
    border-radius: 20px;
  }
  body.dark *::-webkit-scrollbar {
    padding: 20px 0px;
    background: rgb(56, 56, 56);
    width: 6px;
  }
}
